[Unit]
Description=bingwall
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=python3 /opt/bingwall/bingwall.py 
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
